<!-- Jumbotron -->
<div class="card card-image rounded-0" style="background-color: #7f53ac; background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);">
  <div class="text-white text-center rgba-stylish-strong py-0 px-4">
  
    <div class="py-0">

      <!-- Content -->
     <h2 class="card-title h2 my-4 py-2">Contact us !</h2>
     
      
    </div>
  </div>
</div>
<!-- Jumbotron -->

<div class="container py-5 text-center">
  <br>
  <h5 class="mt-5 pt-5">Va falloir attendre un peu mon piffou</h1></br>
  <small>garde espoir...</small>
  <br>
</div>
