<!-- Jumbotron -->
<div class="card card-image rounded-0" style="background-color: #7f53ac; background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);">
  <div class="text-white text-center rgba-stylish-strong py-0 px-4">
  
    <div class="py-0">

      <!-- Content -->
      <% if user_signed_in? %>
        <h2 class="card-title h2 my-4 py-2">Our site, simply explained, <%= current_user.first_name %> !</h2>
      <% else %>
        <h2 class="card-title h2 my-4 py-2">Our site, simply explained !</h2>
      <% end %>
      
    </div>
  </div>
</div>
<!-- Jumbotron -->

<div class="container py-5 justify-content-center">
  <iframe width="1200" height="600" src='https://dbdiagram.io/embed/5eb9bbf339d18f5553ff0a76'> </iframe>
</div>