<!-- Jumbotron -->
<div class="card card-image rounded-0" style="background-color: #7f53ac; background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);">
  <div class="text-white text-center rgba-stylish-strong py-0 px-4">
  
    <div class="py-0">

      <!-- Content -->
      <h2 class="card-title h2 my-4 py-2">Welcome on your secret page, <%= current_user.first_name %>.</h2>
      
    </div>
  </div>
</div>
<!-- Jumbotron -->

<h1>StaticPages#secret</h1>
<p>Find me in app/views/static_pages/secret.html.erb</p>
